.side{
    width:200px;
    height: 100%;
    background-color: black;
    position: fixed;
    left: 0%;
    top: 0%;
}

.main{
    padding-left: 210px;
}

.side a{
    color: white;
    margin: 10px;
    padding: 10px;
}

.side a:hover{
    background-color: #64d303;
}