{%extends 'sidebar.html'%}
{%block body%}
<h1>Please add income </h1>

<form action="" method="POST">
    {%csrf_token%}
    <table border="1">
        <tr>
    <th><label for="id_income">Income:</label></th>
    <td>
      
      <input type="number" name="income" required id="id_income">
      
      
    </td>
  </tr>

  <tr>
    <th><label for="id_income_type">Income type:</label></th>
    <td>
      
      <input type="text" name="income_type" maxlength="30" required id="id_income_type">
      
      
    </td>
  </tr>

  <tr>
    <th><label for="id_income_date">Income date:</label></th>
    <td>
      
      <input type="text" name="income_date" required id="id_income_date">
      
      
    </td>
  </tr>

  <tr>
    <th><label for="id_description">Description:</label></th>
    <td>
      
      <textarea name="description" cols="40" rows="10" maxlength="300" required id="id_description">
</textarea>
      
      
    </td>
  </tr>

  <tr>
    <th><label for="id_user">User:</label></th>
    <td><input type="text" value="{{user}}"</td>
  </tr>
        <tr>
            <td><input type="submit" value="save"></td>
            <td><input type="reset" value="reset"></td>
        </tr>
    </table>
</form>

{%endblock%}