{%extends 'sidebar.html'%}
{%block body%}
<h1>Expense List</h1>

<form action="{%url 'expense:expense_search'%}" method="POST">
    {%csrf_token%}
    <textarea name="srch" id="" rows="2" cols="50"></textarea>
    <input type="submit" value="search">
</form>
{%if exp%}
<table border="1">
    <tr>
        <td>Id</td>
        <td>Expense</td>
        <td>Expense_Type</td>
        <td>Expense_Date</td>
        <td>User</td>
        <td colspan="2">Action</td>
    </tr>
    {%for i in exlist%}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.expense}}</td>
        <td>{{i.expense_type}}</td>
        <td>{{i.expense_date}}</td>
        <td>{{i.user}}</td>
        <td><a href="expdelete/{{i.id}}">Delete</a></td>
        <td><a href="expedit/{{i.id}}">Edit</a></td>
    </tr>
    {%endfor%}
</table>
{%else%}
<h1>No record found....</h1>
{%endif%}

<style>
    .rside{
        width: 200px;
        height: 100%;
        background-color: aqua;
        position: fixed;
        right: 0%;
        top: 0%;
    }
    h3{
        margin: 10px;
        padding: 10px;
    }
    .rside a{
        text-decoration: none;
    }
</style>

<div class="rside">
    <h2>Short by expense_type</h2>
    <h3><a href="{%url 'expense:list2'%}">All</a></h3>
    {%for i in expt%}
    <h3><a href="{%url 'expense:ext1' i%}">{{i}}</a></h3>
    {%endfor%}
</div>

{%endblock%}