{%include 'navbar.html'%}
{%load static%}
<h1>Cart List</h1>

<table class="table">
    <tr>
        <td>Id</td>
        <td>Product Name</td>
        <td>Product Price</td>
        <td>Product Quantity</td>
        <td>User</td>
        <td>Sub-Total</td>
        <td>Action</td>
    </tr>
    {%for i in cl%}
    <tr>
        <td>{{i.product.id}}</td>
        <td>{{i.product.p_name}}</td>
        <td>{{i.product.p_price}}</td>
        <td><input type="number" name="qty" value="1" min="1" onchange="updateSubtotal(this)"></td>
        <td>{{i.user.username}}</td>
        <td><input type="text" class="subtotal" value="{{i.product.p_price}}"></td>
        <td><a href="">Delete</a></td>
    </tr>
    {%endfor%}

    <tr>
        <td><input type="submit" value="Place-Order"></td>
        <td>Total-Bill: <span>50000</span></td>
    </tr>
</table>

<script src="{%static 'js/static.js'%}"></script>

<h1 id="total">Final Total:Rs. <span id="total-value">0.00/-</span></h1>
<h1 id="gst">GST (18%): Rs. <span id="gst-value">0.00/-</span></h1>
<h1 id="invoice-total">Invoice Total: Rs. <span id="invoice-total-value">0.00/-</span></h1>